@model List<RESTAPI.Models.Department>

<div class="card">

    <div class="card-body">
        <a class="btn btn-success">Add New</a>
        <div class="card-title">
            <h2>Department List</h2>
        </div>

        <table class="table table-bordered table-striped" id='tbllist'>
            <thead class="bg-dark text-white">
                <tr>
                    <td>DeptID</td>
                    <td>Dept Name</td>
                    <td>Action</td>
                </tr>
            </thead>
            <tbody>
               
            </tbody>

        </table>

    </div>
    @* link to github for code=> https://github.com/nihira2020/Core_MVC/tree/master *@
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>
