

@* <script src="~/lib/jquery/dist/jquery.min.js"></script> *@
@* <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css"> *@
@* <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script> *@
@* <style type="text/css"> *@
@*     #tbllist_filter{ *@
@*         margin-bottom:1%; *@
@*     } *@
@* </style> *@
@* <script type="text/javascript"> *@
@*     var js = jQuery.noConflict(true); *@
@*     js(document).ready(function() { *@
@*         //js('#tbllist').DataTable({ *@

@*         //}); *@
@*         LoadListing(); *@
@*     }); *@
@*     function FunEdit(element) { *@
@*         var code = $(element).closest('tr').find('input[type=hidden]').val(); *@
@*        window.location.href = "/employee/Edit?code="+code; *@
@*     } *@

@*     function FunRemove(element) { *@
@*         var code = $(element).closest('tr').find('input[type=hidden]').val(); *@
@*         if (confirm("do you want to remove?")) { *@
@*             $.ajax({ *@
@*                 type: "POST", *@
@*                 url: "/Employee/Remove", *@
@*                 data: { code: code }, *@
@*                 success: function(data) { *@
@*                     if (data == 'pass') { *@
@*                         alert('Removed successfully.'); *@
@*                         window.location.reload(); *@
@*                     } else { *@
@*                         alert("Failure due to :" +data) *@
@*                     } *@
@*                 }, *@
@*                 failure: function(err) { *@

@*                 } *@
@*             }); *@
@*         } *@
@*     } *@
@*     function LoadListing() { *@
@*         var empdata = []; *@
@*         $.ajax({ *@
@*             type: "POST", *@
@*             url: "/Employee/GetAll", *@
@*             async: false, *@
@*             success: function(data) { *@
@*                 $.each(data, function(key, value) { *@
@*                     var editbtn = "<a onclick='FunEdit(this)' class='btn btn-primary'>Edit</a>"; *@
@*                     var removebtn = "<a onclick='FunRemove(this)' class='btn btn-danger'>Remove</a>"; *@
@*                     var hdn = "<input type='hidden' value=" + value.code + " />"; *@
@*                     var action = editbtn +" | "+ removebtn + hdn; *@
@*                     empdata.push([value.code, value.name, value.email, value.phone, value.designation,action]) *@
@*                 }) *@
@*             }, *@
@*             failure: function(err) { *@

@*             } *@
@*         }); *@
@*         js('#tbllist').DataTable({ *@
@*             data: empdata *@
@*         }); *@
@*     } *@

@* </script> *@